if LVGL

config LV_CONF_SKIP
	default n

config APP_LINK_WITH_LVGL
	bool "Link 'app' with LVGL"
	default y
	help
	  Add LVGL header files to the 'app' include path. It may be
	  disabled if the include paths for LVGL are causing aliasing
	  issues for 'app'.

config LV_Z_USE_FILESYSTEM
	bool "Enable file system"
	depends on FILE_SYSTEM
	default y if FILE_SYSTEM
	help
	  Enable LittlevGL file system

config LV_Z_FLUSH_THREAD
	bool "Flush LVGL frames in a separate thread"
	help
	  Flush LVGL frames in a separate thread, while the primary thread
	  renders the next LVGL frame. This feature requires that the
	  lv_task_handler call be made from a preemptable thread for best
	  performance.

if LV_Z_FLUSH_THREAD

config LV_Z_FLUSH_THREAD_STACK_SIZE
	int "Stack size for flushing thread"
	default 1024
	help
	  Stack size for LVGL flush thread, which will call display_write

config LV_Z_FLUSH_THREAD_PRIO
	int "LVGL flush thread priority"
	default 0
	help
	  Cooperative priority of LVGL flush thread.

endif # LV_Z_FLUSH_THREAD


rsource "../Kconfig"
rsource "Kconfig.memory"
rsource "Kconfig.input"

endif
